<div class="ptb-6"></div>
<div class="plr-8">
    <div class="text-center mb-16">
        <h2 class="size-4 weight-bold mb-1">
            Sign In
        </h2>
        <p class="size-1 text-gray">
            Please sign in to access all How.to features.
        </p>
    </div>
    <div class="form-group mb-6">
        <input type="email" class="h-control" placeholder="E-Mail Address">
    </div>
    <div class="form-group mb-6">
        <input type="password" class="h-control" placeholder="Password">
    </div>
    <p class="text-primary size-0 text-right pointer hover-link mb-6" (click)="resetPassword()">
        Forgot your Password?
    </p>
    <button class="h-btn btn-primary btn-block">
        Login
    </button>
    <div class="text-center plr-2 ptb-6 text-gray">
        OR
    </div>
    <button class="h-btn btn-facebook btn-login btn-block mb-6">
        Continue with Facebook
        <div class="btn-icon">
            <i class="ion ion-logo-facebook"></i>
        </div>
    </button>
    <button class="h-btn btn-google btn-login btn-block mb-6">
        Continue with Google
        <div class="btn-icon">
            <i class="ion ion-logo-google"></i>
        </div>
    </button>
</div>
<div class="ptb-4"></div>
<div class="border-top plr-3 text-center ptb-5 text-primary">
    Not a How.to User? <span (click)="signupClick()" class="weight-bold pointer hover-link">Sign Up Now</span>
</div>