@import 'initializer';

.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-light {
    color: #fff !important;
}
.text-gray {
    color: $grayText !important;
}
.text-gray-light {
    color: #9b9ea3 !important;
}

.text-dark {
    color: $text !important;
}

.text-error {
    color: rgb(216, 8, 8);
}

.bg-primary {
    background-color: $primary !important;
    &.h-btn {
        border-color: $primary !important;
        &:focus,
        &:active {
            border-color: $primary;
            @include boxshadow(0 0 12px -1px $primary);
        }
    }
}

.bg-secondary {
    background-color: $secondary !important;
    &.h-btn {
        border-color: $secondary !important;
        &:focus,
        &:active {
            border-color: $secondary;
            @include boxshadow(0 0 12px -1px $secondary);
        }
    }
}

.bg-light {
    background-color: #fff !important;
    &.h-btn {
        border-color: #fff !important;
    }
}

.bg-gray-light {
    background-color: $siteBackground !important;
}
.bg-gray-dark{
    background-color: $grayText;
}