@import 'mixins';

.h-btn {
    background: transparent;
    border: 0;
    box-shadow: none;
    transition: 0.3s;
    border: 1px solid;
    border-radius: 150px;
    font-size: 1rem;
    font-weight: normal;
    vertical-align: middle;
    padding: 4px 16px;
    height: 3rem;
    display: inline-block;
    font-family: 'Cairo', sans-serif;
    outline: 0 !important;
    text-align: center;
    cursor: pointer;

    &:hover {
        // @include boxshadow(0 8px 18px 0 rgba(0, 0, 0, 0.15));
    }
    &.btn-sm {
        height: 2.4rem;
    }
}

.btn-primary {
    background: #00ab6b;
    border-color: #00ab6b;
    color: #fff;

    &:hover {
        background: #00915c;
        border-color: #00915c;
    }
}

.btn-facebook {
    background: #4267b2;
    border-color: #4267b2;
    color: #fff;

    &:hover {
        background: #2f4f91;
        border-color: #2f4f91;
    }
}

.btn-google {
    background: #4285f4;
    border-color: #4285f4;
    color: #fff;

    &:hover {
        background: #3476df;
        border-color: #3476df;
    }
}

.btn-login {
    padding-left: 60px;
    padding-right: 60px;
    position: relative;

    .btn-icon {
        position: absolute;
        width: 20px;
        text-align: center;
        left: 40px;
        font-size: 22px;
        display: flex;
        top: 50%;
        transform: translateY(-50%);
    }
}

.btn-secondary {
    background: #fff;
    border-color: $border;
    color: $primary;

    &:hover {
        background: $siteBackground;
    }
}

.h-btn.btn-outlined {
    border: 1px solid;
}

.h-btn.btn-block {
    display: block;
    width: 100%
}