@import 'initializer';

%checkbox-style {
    display: inline-flex;
    font-size: 1rem;

    input {
        display: none;

        &+label {
            position: relative;
            cursor: pointer;
            padding: 0;
            padding-right: 30px;
            display: inline-flex;
            align-items: center;
            margin: 0;
            transition: 0.3s;
            color: $text;
            font-weight: inherit;
            min-height: 20px;
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently supported by Chrome and Opera */
        }

        &+label:hover,
        &:checked+label {
            color: $text;
        }

        &+label::before,
        &+label::after {
            border-radius: 4px;
            content: '';
            width: 16px;
            height: 16px;
            top: 50%;
            margin-top: -8px;
            position: absolute;
            font: normal normal normal 12px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: inherit;
            transition: 0.3s;
            right: 0;
        }

        &+label::before {
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:disabled+label {
            opacity: 0.6;
            cursor: not-allowed;
        }

        &:disabled+label:before,
        &:disabled+label:after {
            box-shadow: none;
        }

        &+label::before {
            transform: scale(0);
        }

        &:checked+label::before {
            transform: scale(0.75);
        }
    }
}

.s-checkbox,
.s-checkbox-round,
.s-radio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-checkbox {
    input {
        &+label::before {
            color: #fff;
            content: "\f00c";
        }
    }
}





.h-checkbox {
    @extend %checkbox-style;
    input+label::after {
        border: 1px solid $secondary;
    }
    input {
        &:checked+label::after {
            background: $secondary;
            border-color: $secondary;
        }
    }
}