@import 'mixins';
@import 'initializer';

.form-group {
    margin-bottom: 30px;
}

label {
    font-weight: 500;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    color: inherit;
}

.h-control {
    display: block;
    width: 100%;
    height: 3rem;
    padding: 4px 16px;
    font-size: inherit;
    line-height: 1.5;
    font-weight: 400;
    color: inherit;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid;
    border-color: $controlBorder;
    background-color: #fff;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    resize: vertical;
    outline: 0 !important;
    border-radius: 5px;

    &.control-rounded {
        border-radius: 150px;
    }
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #868686;
    }

    &::-moh-placeholder {
        /* Firefox 19+ */
        color: #868686;
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        color: #868686;
    }

    &:-moh-placeholder {
        /* Firefox 18- */
        color: #868686;
    }

    &:hover {
        // @include boxshadow(0 0 3px rgba(0, 0, 0, 0.1));
    }

    &:focus,
    &:active {
        border-color: $primary;
        // @include boxshadow(0 0 5px 0px $primary);
    }

    &:disabled {
        background-color: #f8f8f8;
        border-color: #e8e8e8;
        @include boxshadow(0 0 0 transparent);
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    &.input-gray-light {
        background: $siteBackground !important;
        border-color: $siteBackground !important;
    }
}

textarea.h-control {
    min-height: 160px;
}

.has-error {

    .h-control,
    .ng-select .ng-select-container {
        border-color: rgb(216, 8, 8) !important;

        &:focus,
        &:active {
            @include boxshadow(0 0 8px -1px rgb(216, 8, 8));
        }
    }
}

.input-with-icon {
    position: relative;
    background-color: #fff;

    .h-control {
        // position: relative;
        z-index: 2;
    }

    .input-icon {
        position: absolute;
        top: 0;
        min-width: 2rem;
        height: 100%;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        border-radius: 4px;

        &.date-picker {
            width: 100%;
            z-index: 9;

            .mat-button-wrapper {
                svg {
                    display: none;
                }

                &::before {
                    font-family: FontAwesome;
                    content: "\f073";
                }
            }
        }

        button {
            width: 100%;
            padding: 0 20px;
        }

        .mat-button-wrapper {
            position: relative;
        }
    }
}

.input-with-icon {
    .input-icon {
        right: 0;
    }

    .date-picker button {
        text-align: left;
    }

    .date-picker button .mat-button-focus-overlay,
    .date-picker button .mat-button-ripple.mat-ripple {
        opacity: 0 !important;
    }
    .h-control {
        padding-right: 2rem;
    }
}

.form-group .ng-select .ng-select-container {
    min-height: 48px;
}

.ng-value-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    display: flex;
}
.readonly {
    opacity: 0.5;
}

.border-radius-default {
    border-radius: 150px;
}