$i: 0;

@while $i < 48 {
    .size-#{$i} {
        font-size: (1px * (($i * 2) + 12)) !important;
    }

    $i: $i+1;
}

.weight-bold {
    font-weight: 700 !important;
}

.italic {
    font-style: italic;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.transform-none {
    text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
}