@import 'mixins';
@import 'initializer';

.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.flex-space-round {
    display: flex;
    justify-content: space-around;
}

.inline-flex {
    display: inline-flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.flex-middle {
    align-items: center;
}

.flex-top {
    align-items: flex-start;
}

.flex-bottom {
    align-items: flex-end;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.no-wrap {
    white-space: nowrap;
}

.hover-link {
    &:hover {
        text-decoration: underline;
    }
}

.box-shadow-1 {
    @include boxshadow(0 1px 3px 0 rgba(0, 0, 0, 0.09));
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.border-right {
    border-right: 1px solid $border;
}

.border-top {
    border-top: 1px solid $border;
}

.border-bottom {
    border-bottom: 1px solid $border;
}

.border-box {
    border: 1px solid $border;
    border-radius: 4px;
}

.pointer {
    cursor: pointer !important;
}

.animation-show-up {
    animation: showUp 0.3s linear 0s 1 forwards;
    opacity: 0;
    transform: scale(2)
}

@keyframes showUp {
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.cdk-overlay-pane {
    overflow: auto;
    border-radius: 10px;
}


.loading-icon {
    animation: rotate360 1.5s linear 0s infinite none;
}

@keyframes rotate360 {
    100% {
        transform: rotate(360deg)
    }
}

#app-notifications-container {
    position: fixed;
    top: 20%;
    z-index: 99;

    .app-notification {
        color: #fff;
        margin-bottom: 10px;
        padding: 12px 20px;
        font-size: 14px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-width: 250px;
        width: max-content;
        border-radius: 5px;
        transition: 0.3s;
        animation: appNotification 7s ease-out 0s 1 forwards;
        background: #f2f2f2;
        cursor: pointer;

        &.error {
            background: #c9302c;
        }

        &.warning {
            background: #ec971f;
        }

        &.success {
            background: #449d44;
        }
    }

    .app-notification:hover {
        transform: scale(0.95);
    }
}

@keyframes appNotification {
    0% {
        opacity: 0;
        margin-top: -40px;
    }

    5% {
        opacity: 1;
        margin-top: 0px;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.ngx-pagination .current {
    border-radius: 50% !important;
    background-color: $primary !important;
    width: 20px !important;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ngx-pagination a,
.ngx-pagination button {
    outline: 0 !important;
}

.ng-select .ng-select-container .ng-value-container {
    padding-right: 7px;
    display: flex;
    align-items: center;
    padding-top: 0;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-placeholder {
    padding-bottom: 0;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-placeholder {
    position: static !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    padding: 7px;
}

.grouped-select .ng-select .ng-select-container {
    border-radius: 0;
    border-left: 0;
}

.grouped-select>ng-select:last-child .ng-select-container {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.grouped-select>ng-select:first-child .ng-select-container {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.prevent-shrink {
    flex-shrink: 0;
}

.container-top {
    position: relative;
    z-index: 5;
}

.shadow-wrapper {
    border-radius: 2px;
    @include boxshadow(0 2px 4px 0 rgba(0, 0, 0, .2));
}

.primary-bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $primary;
}

.label-secondary {
    border: 1px solid;
    color: #f16f04;
    background: rgba($color: #f16f04, $alpha: 0.02);
    border-radius: 5px;
}

.label-primary {
    border: 1px solid;
    color: $primary;
    background: rgba($color: $primary, $alpha: 0.02);
    border-radius: 5px;
}

.row.smaller-gaps {
    margin-right: -7px !important;
    margin-left: -7px !important;

    [class*="col-"], .col {
        padding-right: 7px !important;
        padding-left: 7px !important;
    }
}
.row.even-smaller-gaps {
    margin-right: -4px !important;
    margin-left: -4px !important;

    [class*="col-"], .col {
        padding-right: 4px !important;
        padding-left: 4px !important;
    }
}

.larger-line-height {
    line-height: 2;
}

.height-100 {
    height: 100%;
}

.force-one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ngx-loading-bar {
    div .bar {
        height: 3px !important;
        background: #fff !important;
        opacity: 1 !important;
    }

    div#loading-bar-spinner {
        display: none !important;
    }
}

.mce-content-body {
    text-align: right;
}
.mat-dialog-container {
    overflow: visible;
}

.horizontal-scroll {
    overflow: auto;
    flex-wrap: nowrap;
    padding-bottom: 20px;
}

.mat-dialog-container {
    padding: 0 !important;
}


.select-placeholder-fix {
    .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
        position: absolute;
        z-index: 1;
        height: 100%;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        top: 0;
    }
    .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
        display: flex;
        width: 100%;
        /* height: 20px; */
        margin: 3px 0;
        padding: 4px 0;
    }
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    position: absolute;
        z-index: 1;
        height: 100%;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        top: 0;
}

.size-huge {
    font-size: 60px;
}

.active-star {
    color: $secondary;
}

.options-menu {
    position: relative;
    cursor: pointer;
    font-weight: normal;

    &,
    & * {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently supported by Chrome and Opera */
    }

    >.dots {
        position: relative;
        top: 2px;
    }

    .options-menu-container {
        font-size: 0.875rem;
        position: absolute;
        top: calc(100% + 10px);
        z-index: 3;
        min-width: initial;
        background-color: #fff;
        z-index: 10;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
        border-radius: 2px;
        border: 0;
        padding: 10px 0;
        min-width: 150px;
        width: max-content;
        max-width: 350px;
        display: none;
        cursor: default;

        .single-option {
            padding: 8px 10px;
            transition: 0.5s;
            color: inherit;

            img {
                height: 100%;
                width: auto;
                object-fit: contain;
            }

            a {
                color: inherit !important;
            }
        }

        .single-option:hover {
            background-color: #f3f3f3;
        }
    }

    &.reverse-v .options-menu-container {
        top: auto;
        bottom: calc(100% + 10px);
        max-height: calc(50vh - 20px);
        padding: 0;

        .options-menu-wrapper {
            max-height: inherit;
            padding: 15px 12px;
            overflow: auto;
        }
    }

    &.active .options-menu-container {
        display: block;
        animation: scaleUp 0.3s ease 0s 1 forwards;
    }
}

