$fontSize: 14px;
$fontFamily: 'Roboto', sans-serif;
$text: #000000;
$grayText: #5c5c5c;
$border: #e2e3e7;
$controlBorder: #e2e3e7;
$background: #fff;
$siteBackground: #f6f7fb;
$spacingStep: 0.5rem;
$warning: #ffcc02;
$error: #e50000;
$primary: #00ab6b;
$secondary: #f9bb34;