$start: left;
$end: right;

// margin
.m-0 {
    margin: 0;
}
.ml-auto{
    margin-left: auto;
}
// padding
.p-0 {
    padding: 0;
}


@for $i from 0 through 50 {
    .mb-#{$i} {
        margin-bottom: (3px * $i) !important;
    }

    .mt-#{$i} {
        margin-top: (3px * $i) !important;
    }

    .ml-#{$i} {
        margin-#{$start}: (3px * $i) !important;
    }

    .mr-#{$i} {
        margin-#{$end}: (3px * $i) !important;
    }

    .mlr-#{$i} {
        margin-right: (3px * $i) !important;
        margin-left: (3px * $i) !important;
    }

    .mtb-#{$i} {
        margin-top: (3px * $i) !important;
        margin-bottom: (3px * $i) !important;
    }

    .pb-#{$i} {
        padding-bottom: (3px * $i) !important;
    }

    .pt-#{$i} {
        padding-top: (3px * $i) !important;
    }

    .pl-#{$i} {
        padding-#{$start}: (3px * $i) !important;
    }

    .pr-#{$i} {
        padding-#{$end}: (3px * $i) !important;
    }

    .plr-#{$i} {
        padding-left: (3px * $i) !important;
        padding-right: (3px * $i) !important;
    }

    .ptb-#{$i} {
        padding-top: (3px * $i) !important;
        padding-bottom: (3px * $i) !important;
    }
}


//max-width
$i: 50;

@while $i < 1100 {
    .max-#{$i} {
        max-width: (1px * $i);
    }

    $i: $i+50;
}
.max-center {
    margin-left: auto;
    margin-right: auto;
}

.width-100 {
    width: 100%;
}