@import "_initializer";
.header-container{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.header-search {
    .input-icon {
        z-index: 9;
    }

    /deep/ .ng-dropdown-panel {
        top: 50px;
        background: #fff;
        border-radius: 20px;
        padding: 0px 0px;
        overflow: hidden;
        left: 0;
    }

    /deep/ .ng-select-container {
        height: 100%;

        .ng-input {
            padding: 0 !important;
        }

        input {
            font-size: 16px;
        }
    }

    /deep/ .ng-spinner-loader {
        top: 7px;
    }

    /deep/ .ng-option.ng-option-disabled {
        padding: 20px;
    }

    /deep/ .ng-select-container.ng-has-value .ng-placeholder {
        display: none;
    }

    .search-item {
        transition: 0.3s;

        &:hover {
            background: rgba($color: #000000, $alpha: .1)
        }
    }
}

/deep/ .search-focus {
    .header-search {
        position: relative;
        z-index: 9999;
        top: auto;
        left: auto;
        background: transparent;
    }

    .search-focus-overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .5);
        animation: showUp 0.3s linear 0s 1 forwards;
        opacity: 0;
        z-index: 99;
    }

    @keyframes showUp {
        50% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }
}

.header-notifications {
    position: relative;
    .header-notifications-container {
        animation: elevate 0.3s linear 0s 1 forwards;
        transform: translateY(30px);
        opacity: 0;
        position: absolute;
        top: 60px;
        right: -50px;
        background: #fff;
        border-radius: 10px;
        width: 400px;
        z-index: 3;
    }
    .notifications-arrow {
        position: absolute;
        font-size: 50px;
        color: #fff;
        top: 40px;
        right: -4px;
        width: 24px;
        z-index: 4;
    }
    .single-tab{
        width: 50%;
        text-align: center;
        padding: 0.9em 0;
        border-bottom: 1px solid $border;
    }
    .active{
        color: $text;
        font-weight: bold;
        border-bottom: 2px solid $primary;
    }
    .notification-icon{
        img{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            object-fit: cover;
        }
    }
}

@keyframes elevate {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

