<div class="search-focus-overlay"></div>
<div class="header-container ptb-6 bg-light box-shadow-1">
    <div class="container">
        <div class="flex flex-space-between flex-middle">
            <div class="prevent-shrink header-logo weight-bold text-primary size-2">
                How.to
            </div>
            <div class="prevent-shrink ml-10 border-box text-gray ptb-2 plr-4 flex flex-middle size-0 weight-bold">
                <i class="ion ion-md-create text-primary size-4 mr-2"></i>
                Answers
                <i class="ion ion-md-arrow-dropdown size-2 ml-1"></i>
            </div>
            <div class="input-with-icon width-100 ml-12 header-search">
                <ng-select class="size-1 control-rounded pl-8 pr-30 h-control input-gray-light"
                    (focus)="onSearchFocus()" (close)="onSearchClose()" [clearable]="false"
                    placeholder="Type to search..." [items]="people$ | async" bindLabel="name" [multiple]="false"
                    [loading]="peopleLoading" [typeahead]="peopleInput$" [(ngModel)]="selectedPersons">
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="flex flex-middle flex-space-between size-1 ptb-5 plr-6 border-bottom search-item">
                            <div>
                                <span class="mr-2 text-primary weight-bold">
                                    {{item.tag}}
                                </span>
                                {{item.name}}
                            </div>
                            <i class="ion ion-ios-arrow-forward size-1"></i>
                        </div>
                    </ng-template>
                </ng-select>
                <div class="input-icon ptb-1 plr-1">
                    <div class="border-radius-default bg-light height-100 flex flex-middle flex-center plr-8">
                        <i class="size-4 text-gray ion ion-md-search"></i>
                    </div>
                </div>
            </div>
            <div class="header-notifications">
                <i class="ion ion-md-notifications-outline size-6 ml-12 pointer" (click)="openNotifications()"></i>
                <div class="header-notifications-container box-shadow-1" *ngIf="notificationsOpen">
                   <div class="flex size-2">
                       <div class="single-tab">
                           Viedos
                       </div>
                       <div class="single-tab active">
                            Answers
                        </div>
                   </div>
                   <div>
                        <div class="flex flex-middle ptb-4 plr-6 border-bottom" *ngFor="let item of items">
                                <div class="notification-icon">
                                  <img src="assets/images/user.jpg" alt="">
                                </div>
                                <div class="ml-4">
                                  <div>
                                      <span class="weight-bold mr-2">HU Hyun-Suk</span> 
                                      <span>Followed You</span> 
                                    </div>
                                  <p class="text-gray"> Just Now</p>
                                </div>
                              </div>
                              <div class="text-center text-primary size-2 weight-bold ptb-4 pointer" (click)="openAllNotifications()">
                                  See All
                              </div>
                   </div>

                </div>
            </div>
            <button (click)="signup()" class="h-btn btn-secondary max-100 width-100 ml-12 btn-sm">
                Sign up
            </button>
            <button (click)="login()" class="h-btn btn-primary max-100 width-100 ml-3 btn-sm">
                Login
            </button>
        </div>
    </div>
</div>
<div class="container ptb-8">
</div>