<div class="ptb-6"></div>
<div class="plr-8">
    <div class="text-center mb-16">
        <h2 class="size-4 weight-bold mb-1">
            Sign Up
        </h2>
        <p class="size-1 text-gray">
            Sign up now to gain full access of the website.
        </p>
    </div>
    <div class="form-group mb-6">
        <input type="text" class="h-control" placeholder="Full Name">
    </div>
    <div class="form-group mb-6">
        <input type="email" class="h-control" placeholder="E-Mail Address">
    </div>
    <div class="form-group mb-6">
        <input type="password" class="h-control" placeholder="Password">
    </div>
    <button class="h-btn btn-primary btn-block">
        Sign Up
    </button>
    <div class="text-center plr-2 ptb-6 text-gray">
        OR
    </div>
    <button class="h-btn btn-facebook btn-login btn-block mb-6">
        Continue with Facebook
        <div class="btn-icon">
            <i class="ion ion-logo-facebook"></i>
        </div>
    </button>
    <button class="h-btn btn-google btn-login btn-block mb-6">
        Continue with Google
        <div class="btn-icon">
            <i class="ion ion-logo-google"></i>
        </div>
    </button>
</div>
<div class="ptb-4"></div>
<div class="border-top plr-3 text-center ptb-5 text-primary">
        Already a How.to User? <span (click)="loginClick()" class="weight-bold pointer hover-link">Sign In Now</span>
</div>