<div class="notifications-container">
  <div class="text-center ptb-6">
    <h2 class="weight-bold">All notifications </h2>
  </div>
    <div class="flex size-2">
        <div class="single-tab">
            Viedos
        </div>
        <div class="single-tab active">
             Answers
         </div>
    </div>
    <div>
         <div class="flex flex-middle ptb-4 plr-6 border-bottom" *ngFor="let item of items">
                 <div class="notification-icon">
                   <img src="assets/images/user.jpg" alt="">
                 </div>
                 <div class="ml-4">
                   <div>
                       <span class="weight-bold mr-2">HU Hyun-Suk</span> 
                       <span>Followed You</span> 
                     </div>
                   <p class="text-gray"> Just Now</p>
                 </div>
               </div>
               <div class="plr-4 ptb-4">
                  <button class="h-btn btn-primary btn-block" (click)="closeModal()"> close </button>
               </div>

    </div>

 </div>