@import "_initializer";

    .notifications-container {
        animation: elevate 0.3s linear 0s 1 forwards;
        background: #fff;
        border-radius: 10px;
    }

    .single-tab{
        width: 50%;
        text-align: center;
        padding: 0.9em 0;
        border-bottom: 1px solid $border;
    }
    .active{
        color: $text;
        font-weight: bold;
        border-bottom: 2px solid $primary;
    }
    .notification-icon{
        img{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            object-fit: cover;
        }
    }
