
  <app-header></app-header>
<div class="main-container">
        <app-sidebar></app-sidebar>
        <div class="main-content">
            <div class="container">
                <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
            </div>
        </div>
    </div>