@import "_initializer";

.main-sidebar {
    position: absolute;
    min-height: 100%;
    top: 80px;
    width: 270px;
    z-index: 9;

    .app-sidebar {
        background-color: #fafafa;
        height: 100vh;
        top: 80px;
        overflow: auto;
        position: fixed;
        width: inherit;
        z-index: 9;
        padding-top: 1.5em;

        .main-routing-links {
            .anchor-container {
                position: relative;
                display: block;
                text-decoration: none !important;
                font-size: 1.125rem;

                .link-content {
                display: flex;
                align-items: center;  
                    height: 64px;
                    line-height: 25px;
                    position: relative;
                    padding: 1rem 1.5rem;
                    border-top: 1px solid #f2f2f2;
                    border-bottom: 1px solid #f2f2f2;
                    font-weight: bold;

                }
                .title-content{
                    padding: 0.5rem 1.5rem;
                }
                .icon{
                    width: 20px;
                }
                .icon-container{
                    width: 30px;
                    height: 30px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 0.7em;
                    font-size: 1.2em;
                }
                .software{
                    background-color: #ffcdd2;
                    color: #f66158;
                }
                .science{
                    background-color: #dcedc8;
                    color: #8bc34a;
                }
                .diy{
                    background-color: #d1c4e9;
                }
                .life-style{
                    background-color: #e1bee7;
                    color: #9C27B1;
                }
                .product-design{
                    background-color: #f8bbd0;
                    color: #f66158;
                   
                }

            }
        }
    }

}

