<div class="main-sidebar">
    <div class="app-sidebar">
        <div class="main-routing-links">
            <div class="anchor-container">
                <a href="#">
                    <div class="title-content size-1 text-gray">
                           MY TOPICS
                    </div>
                </a>
                <a href="#">
                    <div class="link-content">
                        <div class="icon-container product-design">
                            <i class="ion ion-md-flame"></i>
                        </div>
                        <span class="main-icon-text">
                           Product Design
                        </span>
                    </div>
                </a>
                <a href="#">
                    <div class="link-content">
                        <div class="icon-container life-style">
                            <i class="ion ion-md-pulse"></i> 
                        </div>
                        <span class="main-icon-text">
                           Life Style
                        </span>
                    </div>
                </a>
                <a href="#">
                    <div class="link-content">
                        <div class="icon-container diy">
                            <img class="icon" src="assets/images/balloons.svg" alt="">  
                        </div>
                        <span class="main-icon-text">
                          DIY
                        </span>
                    </div>
                </a>
                <a href="#">
                    <div class="link-content">
                        <div class="icon-container science">
                            <i class="ion ion-md-barcode"></i>
                        </div>
                        <span class="main-icon-text">
                            Science
                        </span>
                    </div>
                </a>
                <a href="#">
                    <div class="link-content">
                      <div class="icon-container software">
                          <i class="ion ion-md-code"></i>  
                      </div>
       
                        <span class="main-icon-text">
                            SoftWare
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>