<div class="ptb-6"></div>
<div class="plr-8" *ngIf="!emailSent">
    <div class="text-center mb-16">
        <h2 class="size-4 weight-bold mb-1">
            Forget your password?
        </h2>
        <p class="size-1 text-gray">
            Enter your email and we will send you email with instructions to reset the password
        </p>
    </div>
    <div class="form-group mb-6">
        <input type="email" class="h-control" placeholder="E-Mail Address">
    </div>
    <button (click)="sendResetMail()" class="h-btn btn-primary btn-block">
        Send a Password Reset Mail
    </button>
</div>
<div class="plr-8" *ngIf="emailSent">
    <div class="text-center">
        <img width="70px" class="animation-show-up" src="assets/images/success.svg" alt="">
        <p class="size-1 text-gray mt-4 max-250 text-center max-center">
            We've sent you an email with instructions, Please check your E-mail.
        </p>
    </div>
</div>
<div class="ptb-6"></div>