/* You can add global styles to this file, and also import other style files */
@import 'initializer';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css');

body,
html {
    padding: 0;
    margin: 0;
    font-size: $fontSize;
    background: $siteBackground;
}

* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    word-wrap: break-word;
    word-break: break-word;
    white-space: initial;
    line-height: 1.3;
}

input,
textarea,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
    font-family: $fontFamily;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

// @import "~@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "grid-system";
@import "options";
@import "controls";
@import "buttons";
@import "checkboxes";
@import "fonts";
@import "app-colors";
@import "global-styles";
