<div class="row">
  <div class="col-md-8">
    <div class="ask-question box-shadow-1 border-box  bg-light mb-8 max-700">
      <div class="flex flex-middle  ptb-4 plr-4">
        <div class="user-picture">
          <img src="assets/images/user.jpg" alt="">
        </div>
        <div class="ml-4 ">
          <textarea class="size-3 text-gray weight-bold" placeholder=" Ask Your Questions Right Here"></textarea>
        </div>
      </div>
    </div>
    <span class="options-menu">
      <h2 class="size-7 weight-bold">
        Popular
        <i class="ion ion-md-arrow-dropdown ml-4"></i>
      </h2>
      <div class="options-menu-container">
        <div class="single-option border-bottom size-1">
          Recent
        </div>
        <div class="single-option border-bottom size-1">
          Most Viewed
        </div>
        <div class="single-option size-1">
          Most Answerd
        </div>
      </div>
    </span>
    <div class="mb-8 mt-4"></div>
    <div class="question-box box-shadow-1 border-box bg-light max-700 mb-8" *ngFor="let item of items">
      <div class="ptb-4 plr-6">
        <div class="flex flex-middle">
          <span class="about">Programming</span>
          <span class="about">Programming</span>
          <i class="ion-md-bookmark ml-auto size-6"></i>
        </div>
        <div class="question-title weight-bold border-bottom size-5 ptb-4">
          What' How To You Can offer and it can be Lorem ipsum dolor sit amet consectetur ratione pariatur consequuntur
          ?
        </div>
        <div class="question-body flex flex-middle mt-8 mb-4">
          <div class="user-picture">
            <img src="assets/images/user.jpg" alt="">
          </div>
          <div class="ml-2">
            <p class="weight-bold">HU Hyun-Suk</p>
            <p class="text-gray"> Answerd 2h ago</p>
          </div>
          <div class="bg-gray-light top-ansewer ml-auto ptb-1 plr-2">
            top Answer!
          </div>
        </div>
        <div class="answer text-gray size-2">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit impedit eveniet saepe? Accusamus labore veniam
          quaerat quis autem voluptatem? Ullam culpa exercitationem ab saepe inventore quia placeat veritatis iste
          animi!
        </div>
      </div>

      <div class="question-footer bg-gray-light plr-6 ptb-4">
        <div class="flex flex-middle flex-space-between">
          <div class="flex flex-middle ">
            <div class="bg-primary icon-container mr-2">
              <i class="ion ion-md-arrow-round-up"></i>
            </div>
            <div class="text-primary size-1">
              <span class="weight-bold mr-1">33</span>
              <span>Upvote</span>
            </div>
            <div class="bg-gray-dark icon-container mr-2 ml-4">
              <i class="ion ion-md-arrow-round-down"></i>
            </div>
            <div class="text-gray size-1">
              <span class="weight-bold mr-1">4</span>
              <span>Download</span>
            </div>
          </div>
          <div class="flex flex-middle ">
            <div class="text-gray flex flex-middle pointer">
              <i class="ion ion-md-share-alt text-gray size-4"></i>
              <span class="size-1 ml-2">Repost</span>
            </div>

            <div class="text-gray mr-2 mlr-6 flex flex-middle pointer">
              <i class="ion ion-md-share text-gray size-4"></i>
              <span class="size-1 ml-2">Share</span>
            </div>
            <div class="pointer text-gray size-4">
              <i class="ion ion-md-more"></i>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="empty-state-here max-center text-center max-800 mt-8">
      <div class="mb-6 size-6 weight-bold">No Results Found For "How To lear". </div>
      <div class="max-200 max-center">
        <button class="h-btn btn-primary btn-block"> Add Question</button>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <h2 class="size-7 weight-bold mb-6">By Topic</h2>
    <div class="box-shadow-1 border-box bg-light ptb-4 max-300">
      <div class="plr-4 ptb-6">
        <div class="input-with-icon">
          <input class="size-1 pl-4 pr-8 h-control" placeholder="Search about a specific topic..." type="text">
          <div class="input-icon ptb-1 plr-1">
            <div class="border-radius-default bg-light height-100 flex flex-middle flex-center plr-8">
              <i class="size-4  ion ion-md-search text-primary"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="border-top">
        <div class="ptb-6 flex flex-middle flex-space-between plr-4">
          <span class="size-2">Sports</span>
          <span class="text-primary">12 Result</span>
        </div>
      </div>

      <div class="border-top">
        <div class="ptb-6 flex flex-middle flex-space-between plr-4">
          <span class="size-2">Gaming</span>
          <span class="text-primary">9 Result</span>
        </div>
      </div>
      <div class="border-top">
        <div class="ptb-6 flex flex-middle flex-space-between plr-4">
          <span class="size-2">DIY</span>
          <span class="text-primary">7 Result</span>
        </div>

      </div>
    </div>

    <h2 class="size-7 weight-bold mb-6 mt-8">By User</h2>
    <div class="box-shadow-1 border-box bg-light ptb-4 max-300">
      <div class="plr-4 ptb-6">
        <div class="input-with-icon">
          <input class="size-1 pl-4 pr-8 h-control" placeholder="Search about a specific User..." type="text">
          <div class="input-icon ptb-1 plr-1">
            <div class="border-radius-default bg-light height-100 flex flex-middle flex-center plr-8">
              <i class="size-4  ion ion-md-search text-primary"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="border-top">
        <div class="ptb-6 plr-4">
          <span class="size-2">People You follow</span>
        </div>
      </div>
    </div>

    <h2 class="size-7 weight-bold mb-6 mt-8">By Time</h2>
    <div class="box-shadow-1 border-box bg-light ptb-4 max-300">
      <div class="plr-4 ptb-6">
        <div class="input-with-icon">
          <input class="size-1 pl-4 pr-8 h-control" placeholder="Search about a specific time..." type="text">
          <div class="input-icon ptb-1 plr-1">
            <div class="border-radius-default bg-light height-100 flex flex-middle flex-center plr-8">
              <i class="size-4  ion ion-md-search text-primary"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="border-top">
        <div class="ptb-6 plr-4">
          <span class="size-2">Past Hour</span>
        </div>
      </div>
      <div class="border-top">
        <div class="ptb-6 plr-4">
          <span class="size-2">Past Day</span>
        </div>
      </div>
      <div class="border-top">
        <div class="ptb-6 plr-4">
          <span class="size-2">Past Week</span>
        </div>
      </div>
      <div class="border-top">
        <div class="ptb-6 plr-4">
          <span class="size-2">Past Month</span>
        </div>
      </div>
      <div class="border-top">
        <div class="ptb-6 plr-4">
          <span class="size-2">Past Year</span>
        </div>
      </div>
    </div>
  </div>

</div>
