@import "_initializer";


.question-box{
    .about{
        background-color: #f7f8fc;
        border-radius: 10px;
        padding: 0.3em 0.5em;
        margin-right: 0.6em;
        color: $primary;
    }
}
.user-picture{
    img{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        object-fit: cover;
    }
}
.icon-container{
    border-radius: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.top-ansewer{
    border-radius: 25px;
}
.ask-question{
    textarea{
        resize: none;
        border: none;
        width: 500px;
        height: 29px;
        &:focus{
            outline: none;
        }

    }
}